<h3>Add New Flower</h3>

<form [formGroup]="userFormGroup" method="POST" >
    <label>Category     :<input type="text" class="form-control" name="category" formControlName="category"></label><br>
    <label>Small Amount     :<input type="text" class="form-control" name="smallAmount" formControlName="smallAmount"></label><br>
    <label>Medium Amount     :<input type="text" class="form-control" name="mediumAmount" formControlName="mediumAmount"></label><br>
    <label>Large Amount     :<input type="text" class="form-control" name="largeAmount" formControlName="largeAmount"></label><br>
    <label>Small Price     :<input type="text" class="form-control" name="smallPrice" formControlName="smallPrice"></label><br>
    <label>Medium Price     :<input type="text" class="form-control" name="mediumPrice" formControlName="mediumPrice"></label><br>
    <label>Large Price     :<input type="text" class="form-control" name="largePrice" formControlName="largePrice"></label><br>
    <br>
    <!-- <input type="file" (change)="onFileChanged($event)"> -->

    <!-- <button type="button" (click)="addFlower()" >Add Flower</button> -->
    

</form>